<form [formGroup]="form">
  <section>
    <mat-checkbox formControlName="quotes" color="primary">
      Show a quote on the break overlay?
    </mat-checkbox>

    <ul *ngIf="form.get('quotes')!.value" class="ml-3">
      <li *ngFor="let category of categories">
        <mat-checkbox [formControlName]="category.name" color="primary">
          {{ category.description }}
        </mat-checkbox>
      </li>
    </ul>
  </section>

  <section class="my-3">
    <mat-checkbox formControlName="image" color="primary">
      Show an image on the break overlay?
    </mat-checkbox>
  </section>

  <div class="d-flex justify-content-end w-100 mt-3">
    <button mat-raised-button color="accent" (click)="save()">Save</button>
  </div>
</form>
